<meta charset="UTF-8" />
<title>EidP-Grammatik-Trainer</title>

<body>
  <div id="app">
    <h1>Aufgabe</h1>
    <p>{{task.description}}</p>

    <div class="input-group">
      <h1>Nichtterminale</h1>
      <ul>
        <li v-for="nonTerminal in nonTerminals">{{nonTerminal}}
          <button @click="remove('nonTerminal', nonTerminal)">❌</button>

          <button v-if="nonTerminal != start" @click="start = nonTerminal">als Startsymbol festlegen</button>
        </li>
      </ul>
      <input placeholder="Nichtterminale hinzufügen" v-model="nonTerminalEdit" />
      <button @click="addNonTerminal(nonTerminalEdit)">OK</button>
    </div>

    <div class="input-group">
      <h1>Terminale</h1>
      <ul>
        <li v-for="terminal in terminals">{{terminal}}
          <button @click="remove('terminal', terminal)">❌</button>
        </li>
      </ul>
      <input placeholder="Terminale hinzufügen" v-model="terminalEdit" />
      <button @click="addTerminal(terminalEdit)">OK</button>
    </div>

    <div class="input-group">
      <h1>Regeln</h1>
      <ul>
        <li v-for="rule in rules">
          {{rule.from + " → " + rule.to.map(v => (v ? v : 'ɛ')).join(' | ')}}
          <button @click="remove('rule', rule.from)">❌</button>
        </li>
      </ul>
      <h3>Regel hinzufügen</h3>
      <input placeholder="von" v-model="ruleEditFrom" />
      <input placeholder="zu" v-model="ruleEditTo" />
      <button @click="addRule">OK</button>
    </div>

    <h1>Checks</h1>
    <p>mit Vorsicht genießen :P</p>
    <button @click="updateCheckResults">Jetzt prüfen</button>
    <ul>
      <li v-for="result in checkResults">"{{result.check}}": SOLL:{{result.expectedResult ? '✓' : '❌'}} IST:{{result.result ? '✓' : '❌'}} → {{(result.result == result.expectedResult) ? '✓' : '❌'}}</li>
    </ul>

    <button v-if="allPassed" @click="nextTask">nächste Aufgabe</button>
  </div>
</body>

<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<script src="vue.js"></script>

<script src="script.js"></script>
